{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
    </div>
    {% if not tasks_list %}
    <p>You have no tasks</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>State date</th>
                <th>End date</th>
                <th>Is completed</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks_list %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.start_date|date:"M, d, Y" }}</td>
                <td>{{ task.due_date|date:"M, d, Y" }}</td>
                {% if task.is_completed == False %}
                <form method="POST" action="{% url 'complete_task' task.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="is_completed" value="True">
                    <td>
                        <button>Complete</button>
                    </td>
                </form>
                {% else %}
                <td>Done</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    </div>
</main>
{% endblock content %}