{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <h3>
            <a href="{% url 'create_project' %}">Create New Project</a>
        </h3>
        {% if not projects_list %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects_list %}
                <tr>
                    <td>
                        <a href="{% url 'show_project' project.pk %}">{{ project.name }}</a>
                    </td>
                    <td>{{ project.tasks.all | length }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}